@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a class="nav-link text-dark" asp-area="" asp-controller="Caminhao" asp-action="Index">Acessar Cadastro de Caminhões</a></h1>
</div>
