@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Olá!</h1>
    <p class="lead">Esta é uma aplicação web de demonstração de desenvolvimento utilizando ASP.NETCore MVC com EntityFramework, LocalDataBase e Migration. </p>
    <hr class="my-4">
    <p>O contexto dessa aplicação é um cadastro de caminhões</p>
    <p class="lead">
    <a class="btn btn-dark btn-lg" asp-controller="Caminhao"  asp-action="Index" role="button">Acessar Cadastro de Caminhões</a>
    </p>
</div>
</div>
