@model GcApp.Models.Caminhao

@{
    ViewData["Title"] = "Editando Caminhão";
}
<hr />
<h3>Editando Caminhão</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="IdModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModelo" class="control-label">Modelo</label>
                <input asp-for="IdModelo" class="form-control" />
                <span asp-validation-for="IdModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label">Ano Fabricação</label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoModelo" class="control-label">Ano Modelo</label>
                <input asp-for="AnoModelo" class="form-control" />
                <span asp-validation-for="AnoModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetalhesTecnicos" class="control-label">Detalhes Técnicos</label>
                <input asp-for="DetalhesTecnicos" class="form-control" />
                <span asp-validation-for="DetalhesTecnicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
