@model GcApp.Models.ModeloVeiculo

@{
    ViewData["Title"] = "Novo Modelo";
}
<h3>Incluir Novo Modelo</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bloqueado" class="control-label">Bloqueado</label>
                <input asp-for="Bloqueado" class="form-control" />
                <span asp-validation-for="Bloqueado " class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
                <input type="submit" asp-action="Index" value="Voltar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
