@model GcApp.Models.ModeloVeiculo

@{
    ViewData["Title"] = "Editando Modelo";
}
<hr />
<h3>Editando Modelo</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Modelo" class="control-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input asp-for="Bloqueado" type="checkbox" class="custom-control-input" id="customCheck1">
                  <label asp-for="Bloqueado" class="custom-control-label" for="customCheck1">Bloqueado</label>
                  <span asp-validation-for="Bloqueado " class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-dark" />
                <input type="submit" asp-action="Index" value="Voltar" class="btn btn-dark"/>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
